#exportPattern(".*")

export(createBMLGrid, runBMLGrid, velocityBMLGrid, crunBMLGrid,
       plotBMLPhases, plotBMLVelocities,
       timingGrid, plotPerformanceDim, plotPerformanceDen)

S3method(plot, BML)
S3method(summary, BML)

useDynLib(SimulateBML)
